<form action="" class="search-form">
        <div class="form-group">
            <input  [(ngModel)]="userName" name="userName"type="text" class="form-control" placeholder="Search git users with username" >
            <button type="submit"(click)="findProfile()">search</button>
        </div>
    </form> 
    <div class="row">
        <div class="col col-6 left-style">
        <div>
        <div class="jumbotron">
            <h3> {{user.name}} </h3> 
            <p>Github username: ({{user.login}})</p>
        
            <div align="center">
            <img src="{{user.avatar_url}}" class="img-fluid img-thumbnail rounded" alt="Profile picture">
            </div>
            <br>
            <ul class="list-group">
                <li class="list-group-item">Number of public repositories: {{user.public_repos}} </li>
                <li class="list-group-item">Followers: {{user.followers}} </li>
                <li class="list-group-item">Following: {{user.following}} <a href="{{user.html_url}}" target="_blank">{{user.html_url}}</a></li>
            </ul>
    
    
    
        
        </div>
    
     </div>
     <div class="col col-6">
    
         <hr class="hrstyle">
      <div *ngFor="let dispRepo of repos">    
          <ul class="list-group">
              <li class="list-group-item"><h5>{{dispRepo.name}}</h5></li>
          </ul>
          <blockquote class="text-lg">
            <p>{{dispRepo.description}}</p>
            <footer><cite><a href=" {{dispRepo.html_url}}" target="_blank">{{dispRepo.html_url}}</a></cite></footer>
        </blockquote>
        <hr class="hrstyle">
      </div>
    </div>
    </div>
    
    
    
      
    </div>
    